@import "../../../styles/base.scss";

.input_error_message {
  font-size: 10px;
  min-height: 12px;
  color: rgb(143, 16, 16);
  display: flex;
  gap: 5px;
  align-items: center;
  .input_error_icon {
    display: flex;
  }
}
