@import "../../../styles/base.scss";

.modal_mask_container {
  .modal_container {
    background-color: white;
    display: flex;
    border-radius: 10px;
    z-index: 101;
    width: 90%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    .modal_container_main {
      width: 100%;
      .modal_top_info {
        background-color: $tertiary-color;
        color: white;
        padding: 20px;
        font-weight: 900;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        p {
          font-size: $textBigSize;
        }
        svg {
          font-size: $iconMediumSize;
          cursor: pointer;
        }
      }
      .modal_content_container {
        padding: 20px;
      }
    }
  }
}

@media (min-width: $tablet) {
  .modal_mask_container {
    .modal_container {
      .modal_container_main {
        .modal_top_info {
          p {
            font-size: 34px;
          }
        }
      }
    }
  }
}
