@import "../../../styles/base.scss";

.card_movie_detail {
  width: 100%;
  img {
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1/2;
    border-radius: 5px;
    border: 5px solid transparent;
  }
  .selected {
    border: 5px solid $tertiary-color;
  }
  &:hover {
    cursor: pointer;
  }
}
