$primary-color: #092058;
$secondary-color: #222831;
$tertiary-color: #004a8c;
$quartery-color: #eeeeee;
$fifth-color: #d60544;

$inputText: #f7fafc;

$textSuperExtraBigSize: 80px;
$textExtraBigSize: 60px;
$textVeryBigSize: 40px;
$textBigSize: 26px;
$textMediumSize: 18px;
$textSmallSize: 12px;

$logoBigSize: 200px;
$logoMediumSize: 120px;
$logoSmallSize: 50px;

$iconVeryBigSize: 120px;
$iconBigSize: 40px;
$iconMediumSize: 28px;
$iconSmallSize: 24px;

$desktop: 1100px;
$tablet: 900px;
$mobile: 600px;
