@import "../../../styles/base.scss";
.admin_breadcumb_container {
  width: 100%;
  padding: 20px 40px;
  border-bottom: 1px solid #f7f7f7;
  margin-top: 80px;
  .admin_breadcumb_main {
    display: flex;
    .admin_current_path {
      text-transform: capitalize;
      font-weight: 700;
      color: $secondary-color;
    }
  }
}

@media (min-width: $tablet) {
  .admin_breadcumb_container {
    margin-top: 0;
  }
}
