@import "../../../styles/base.scss";
.admin_breadcumb_container {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #f7f7f7;
  .admin_breadcumb_main {
    .admin_current_path {
      font-size: $textMediumSize;
      text-transform: capitalize;
      font-weight: 700;
      color: $secondary-color;
    }
  }
}
@media (min-width: $mobile) {
  .admin_breadcumb_container {
    .admin_breadcumb_main {
      .admin_current_path {
        font-size: $textBigSize;
      }
    }
  }
}
@media (min-width: $tablet) {
  .admin_breadcumb_container {
    .admin_breadcumb_main {
      .admin_current_path {
        font-size: $textVeryBigSize;
      }
    }
  }
}
