.RCInput_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .RCInput_main {
    display: flex;
    justify-content: center;
    .RCInput_input {
      display: flex;
      flex-direction: column-reverse;
      gap: 10px;
      width: 100%;

      input {
        border: 1px solid #7a7a7a;
        padding: 5px;
        border-radius: 10px;
        border: 1px solid #f7f7f7;
      }
    }
  }
}
